{% include 'header.html' %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="container mt-5 mb-1">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash-message-red">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
</div>

<div class="container mt-5 mb-5">
    {{ render_form(form) }}
</div>

{% include 'footer.html' %}